<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="/var/log/getmobil/app.log"/>

    <conversionRule conversionWord="highlight"
                    converterClass="dev.muazmemis.getmobil_dev.config.LogHighlighter">
    </conversionRule>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5p) %magenta(${PID}) %blue([%-15.15t]) %cyan(%-40.40c{0}) : %m %red(%n%ex)
            </pattern>
        </encoder>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/spring-boot-logger-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p %-40.40c{0} : %m %n%ex
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>

</configuration>
